/* Css para configurar os elementos da página principal - "menu.html" */

@charset "UTF-8";

img#Logo{
    height: 43h;
    width: 35vh;
}

nav#Menu{
    height: 17vh;
    width: auto;
    font-size: 125%;
    color: rgb(119, 119, 119);
    position: absolute;
    top: 50vh;
    border: 2px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    border-left: none;
    display: flex;
}

nav#Menu li{
    height: 100%;
    width: 20%;
    border-left: 1px solid gray;
    text-align: center;
    line-height: 200%;
    list-style: none;
    background-color: rgba(212, 212, 212, 1);
    transition-duration: 0.5s;
}

nav#Menu li:hover{
    background-color: rgba(198, 198, 198, 1);
}

img#Icone{
    height: 60%;
    width: 30%;
}
