@charset "UTF-8";

nav#Menu{
    height: 12vh;
    width: 120vh;
    color: black;
    position: absolute;
    top: 50vh;
    border: 2px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    border-left: none;
    display: flex;
}

nav#Menu li{
    height: 100%;
    width: 20%;
    border-left: 1px solid gray;
    text-align: center;
    line-height: 200%;
    list-style: none;
    background-color: rgba(212, 212, 212, 1);
    transition-duration: 0.5s;
}

nav#Menu li:hover{
    background-color: rgba(198, 198, 198, 1);
}

img#Icone{
    height: 65%;
    width: 35%;
}
