@charset "UTF-8";

*{
    font-family: Bahnschrift;
    margin: 0;
    border: 0;
    padding: 0;
    /*background-image:url("../assets/img/menu_icons/alterar.png");*/
}

body{
    background-image: url("../assets/img/sunsetCamping.jpg");
    background-size: cover;
}

h3{
    color: white;
}